# udev rules for pcscd and ACS CCID readers

# If not adding the device, go away
ACTION!="add", GOTO="pcscd_acsccid_rules_end"

# generic CCID device
SUBSYSTEMS=="usb", ATTRS{bInterfaceClass}=="0b", RUN+="/usr/sbin/pcscd --hotplug"

#
# non CCID generic (InterfaceClass: 0x00)
#

# ACS ACR83U
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="90d2", RUN+="/usr/sbin/pcscd --hotplug"

# ACS ACR88U
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="2011", RUN+="/usr/sbin/pcscd --hotplug"

# ACS ACR1251 1S Dual Reader
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="2242", RUN+="/usr/sbin/pcscd --hotplug"

# ACS ACR1261 1S Dual Reader
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="2211", RUN+="/usr/sbin/pcscd --hotplug"

# ACS ACR128U
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="2100", RUN+="/usr/sbin/pcscd --hotplug"

# ACS ACR1281 1S Dual Reader
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="2224", RUN+="/usr/sbin/pcscd --hotplug"

# ACS ACR1281 2S CL Reader
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="2215", RUN+="/usr/sbin/pcscd --hotplug"

# ACS APG8201
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="8201", RUN+="/usr/sbin/pcscd --hotplug"

#
# non-CCID readers
#

# ACS ACR38U
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="9000", RUN+="/usr/sbin/pcscd --hotplug"

# ACS ACR38U-SAM
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="90cf", RUN+="/usr/sbin/pcscd --hotplug"

# ACS AET65 1SAM ICC Reader
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="0101", RUN+="/usr/sbin/pcscd --hotplug"

# IRIS SCR21U
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="90ce", RUN+="/usr/sbin/pcscd --hotplug"

# ACS CryptoMate
SUBSYSTEMS=="usb", ATTRS{idVendor}=="072f", ATTRS{idProduct}=="9006", RUN+="/usr/sbin/pcscd --hotplug"

# All done
LABEL="pcscd_acsccid_rules_end"
